# Основные зависимости
fastapi>=0.100.0,<0.115.0
pydantic>=2.0,<3.0
pydantic[email]>=2.0,<3.0
uvicorn[standard]>=0.27.0,<0.30.0

# База данных
SQLAlchemy>=2.0,<3.0
alembic>=1.13.0,<2.0.0
asyncpg
psycopg2-binary
# Или если обновить fastapi-users:
# SQLAlchemy>=2.0.0,<2.1.0

# Аутентификация
passlib[bcrypt]>=1.7.4
email-validator>=2.0.0
python-jose[cryptography]>=3.3,<4.0
python-multipart>=0.0.9,<1.0
# Утилиты
python-dotenv==1.2.1
requests==2.32.5
requests-cache==1.3.1
aiosqlite
python-dateutil