# Telegram Bot Token от @BotFather
BOT_TOKEN=8776187820:AAHGsD65Et1v68u2-y7GxzBn2Pr24TGrjkw

# URL бэкенд API (имя сервиса в docker-compose)
API_BASE_URL=http://backend:8000

# Опционально: ID администраторов через запятую
ADMIN_IDS=622310825
